ul.dropdown-menu {
    padding-left: 4px;
    padding-right: 4px;

    border: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

a.dropdown-item {
    border-radius: 6px;
}

a.dropdown-item:hover {
    background-color: #eeeeee;
}

.dropdown-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.125)
}

.search {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.125);
    border: 0;
}

.search:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.175);
}

.search:focus, .search:active, .search:focus-visible {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.loader-background {
    background: rgba(0, 0, 0, .5);
    z-index: 9999
}

.btn:has(> .material-symbols-rounded) {
    display: inline-flex;
    gap: 8px;
}

.material-symbols-rounded {
    transition: font-variation-settings .2s cubic-bezier(.2, 0, 0, 1);
    font-variation-settings: "FILL" 0;

    user-select: none;
}

.btn:hover .material-symbols-rounded {
    font-variation-settings: "FILL" 1;
}

ul > li {
    unicode-bidi: unset;
    font-variant-numeric: unset;
    text-transform: none;
    text-indent: 0px !important;
    text-align: unset !important;
    text-align-last: unset !important;
}

ul ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.input > .material-symbols-rounded {
    position: absolute;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.6)
}

.input:has(> .addon-l) {
    position: relative;
}

.input:has(> .addon-l) > input {
    padding-left: 40px;
}

.input:has(> .addon-r) {
    position: relative;
}

.input:has(> .addon-r) > input {
    padding-right: 40px;
}

.input > .addon-l {
    left: 0px;
}

.input > .addon-r {
    right: 0px;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-fit {
    width: fit-content;
}

form .form-divider {
    height: 1px;
    width: calc(100% - 16px);
    margin: 0 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

.gradirent-animate {
    background: linear-gradient(-45deg, #ffffff, #e3e3e3, #ffffff, #e3e3e3);
    background-size: 400% 400%;
    animation: gradient 2s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 70%;
    }

}
