* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

ul.dropdown-menu {
    padding-left: 4px;
    padding-right: 4px;

    border: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

a.dropdown-item {
    border-radius: 6px;
    cursor: default;
}

a.dropdown-item:hover {
    background-color: #eeeeee;
}

.dropdown-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.125)
}

.search {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.125);
    border: 0;
}

.search:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.175);
}

.search:focus, .search:active, .search:focus-visible {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.loader-background {
    background: rgba(0, 0, 0, .5);
    z-index: 9999
}

.btn:has(> .material-symbols-rounded) {
    display: inline-flex;
    gap: 8px;
}

.material-symbols-rounded {
    transition: font-variation-settings .2s cubic-bezier(.2, 0, 0, 1);
    font-variation-settings: "FILL" 0;

    user-select: none;
}

.btn:hover .material-symbols-rounded {
    font-variation-settings: "FILL" 1;
}

ul > li {
    unicode-bidi: unset;
    font-variant-numeric: unset;
    text-transform: none;
    text-indent: 0px !important;
    text-align: unset !important;
    text-align-last: unset !important;
}

ul ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.input > .material-symbols-rounded {
    position: absolute;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.6)
}

.input:has(> .addon-l) {
    position: relative;
}

.input:has(> .addon-l) > input {
    padding-left: 40px;
}

.input:has(> .addon-r) {
    position: relative;
}

.input:has(> .addon-r) > input {
    padding-right: 40px;
}

.input > .addon-l {
    left: 0px;
}

.input > .addon-r {
    right: 0px;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-fit {
    width: fit-content;
}

.form-divider {
    height: 1px;
    width: calc(100% - 16px);
    margin: 0 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

.gradient-animate {
    background: linear-gradient(-45deg, #ffffff, #e3e3e3, #ffffff, #e3e3e3);
    background-size: 400% 400%;
    animation: gradient 2s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 70%;
    }

}

.w-10.mx-3.form-group {
    width: calc(10% - 2rem);
}

.w-20.mx-3.form-group {
    width: calc(20% - 2rem);
}

.w-25.mx-3.form-group {
    width: calc(25% - 2rem);
}

.w-30.mx-3.form-group {
    width: calc(30% - 2rem);
}

.w-40.mx-3.form-group {
    width: calc(40% - 2rem);
}

.w-50.mx-3.form-group {
    width: calc(50% - 2rem);
}

.w-60.mx-3.form-group {
    width: calc(60% - 2rem);
}

.w-70.mx-3.form-group {
    width: calc(70% - 2rem);
}

.w-75.mx-3.form-group { 
    width: calc(75% - 2rem);
}

.w-80.mx-3.form-group {
    width: calc(80% - 2rem);
}

.w-90.mx-3.form-group {
    width: calc(90% - 2rem);
}

.h-1-rem {
    height: 1rem;
}

.h-2-rem {
    height: 2rem;
}

.gradient-animate {
    color: transparent !important;
}

*:has(> [name=not-implemented]) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25) !important;
}

a,
a:hover {
    color: inherit;
}

.invalid-feedback {
    display: block !important;
}

.w-px-360 {
    width: 360px;
}

.form-group .dropdown.bootstrap-select {
    height: 38px;
}

.form-group .dropdown.bootstrap-select > button {
    height: 100%;
    background: #fff;
}

*:has(> .placeholder-nothing-selected) {
    border: 1px solid #eeeeee;
    box-shadow: inset 0px 0px 6px rgba(234, 234, 234, 0.5);
}

.h-fit {
    height: fit-content;
}

.w-px-324 {
    width: 324px;
}

[role=overlap] {
    width: 100%;
    height: 100%;
    max-width: 0;
    max-height: 0;
    background-color: rgba(139, 170, 250, .9);
    opacity: 0;
    transition: all ease-out .2s;
    transition-property: opacity, margin, max-width, max-height;
    margin-left: 50%;
    margin-top: 25%;
    border-radius: 6px;
}

[role=overlap].active {
    opacity: .6;
    margin: 6px;
    max-width: calc(100% - 12px);
    max-height: calc(100% - 12px);
}

[role=overlap].active.hover {
    opacity: .8;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.hidden { 
    display: none !important;
    visibility: hidden !important;
}

[incoding-dragging] {
    opacity: .95;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.max-vh-100 {
    max-height: 100vh !important;
}

.mh-px-300 {
    max-height: 300px !important;
}

.mw-px-324 {
    max-width: 324px;
}

.mw-px-48 {
    max-width: 48px;
}

.w-animate {
    transition: max-width ease-in-out .2s;
}

input.form-control[type=color] {
    height: 38px;
    width: 49px;
}

.class-card {
    max-height: 140px;
}

.schedule .class-card {
    max-height: none;
}

.schedule .column-header {
    height: 120px;
}

.schedule .row-header {
    width: 180px;
}

.schedule .cell,
.schedule .s-row {
    flex: 0 1 100%;
}

.h-10 {
    height: 10%;
}

.h-20 {
    height: 20%;
}

.h-30 {
    height: 30%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-80 {
    height: 80%;
}

.h-90 {
    height: 90%;
}

.h-fit {
    height: fit-content;
}

.flex-p-2 {
    flex: .2;
}

.flex-p-15 {
    flex: .15;
}

.flex-p-1 {
    flex: .1;
}

.btn-light {
    border: 1px solid #EEEEEE;

    transition: all .2s ease-in-out;
}

.btn-light.disabled {
    border: 1px solid #EEEEEE;
}
