.padding-16 {
    padding: 16px;
}

.gap-16 {
    gap: 16px;
}

ul.dropdown-menu {
    padding-left: 4px;
    padding-right: 4px;

    border: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

a.dropdown-item {
    border-radius: 6px;
}

a.dropdown-item:hover {
    background-color: #eeeeee;
}

.dropdown-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.125)
}

.search {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.125);
    border: 0;
}

.search:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.175);
}

.search:focus, .search:active, .search:focus-visible {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.loader-background {
    background: rgba(0, 0, 0, .5);
    z-index: 9999
}

.btn:has(> .material-symbols-rounded) {
    line-height: 0;
}

.material-symbols-rounded {
    transition: font-variation-settings .2s cubic-bezier(.2, 0, 0, 1);
    font-variation-settings: "FILL" 0;
}

.btn:hover .material-symbols-rounded {
    font-variation-settings: "FILL" 1;
}

ul > li {
    unicode-bidi: unset;
    font-variant-numeric: unset;
    text-transform: none;
    text-indent: 0px !important;
    text-align: unset !important;
    text-align-last: unset !important;
}

ul ul {
    list-style-type: none;
    padding-inline-start: 0;
}