@using Incoding.Web.MvcContrib
@using Domain.Api
@using Domain.Extensions
@using (var template = Html.Incoding().Template<GetDisciplinesQuery.Response>())
{
    using (var each = template.ForEach())
    {
        var addOrEditUrl = Url.Dispatcher().Query<AddOrEditDisciplineCommand.AsQuery>().AsView("~/Views/Edit/Discipline/AddOrEdit.cshtml").ToRelative();

         <div class="d-flex shadow gap-2 rounded p-1" role="item">
            @Html.Hidden(nameof(GetFacultiesQuery.Response.Id), each.For(s => s.Id))
            <div class="col-5 my-auto">
                <input class="form-control border-0" value="@each.For(s => s.Name)"/>
            </div>
            <div class="col-2 my-auto">
                <input class="form-control border-0" value="@each.For(s => s.Kind)"/>
            </div>
            <div class="col d-flex">
                <div class="my-auto ms-auto align-self-end">
                    <div class="btn btn-light">
                        <a href="#@($"{addOrEditUrl}&{nameof(AddOrEditDisciplineCommand.Id)}={each.For(r => r.Id)}")" class="material-symbols-rounded text-decoration-none">edit</a>
                    </div>

                    @(Html.When(JqueryBind.Click)
                          .OnSuccess(dsl => dsl.Document.RedirectToSelf())
                          .AsHtmlAttributes(new { @class = "btn btn-light" })
                          .ToButton(@<span class="material-symbols-rounded">delete</span>))
                </div>
            </div>
         </div>
    }   
}
