@using (var template = Html.Incoding().Template<GetDisciplinesQuery.Response>())
{
    using (var each = template.ForEach())
    {
        @using (Html.When(JqueryBind.Click)
                    .Ajax(Url.Dispatcher().Query<AddOrEditDisciplineCommand.AsQuery>(new { Id = each.For(r => r.Id) }).AsView("~/Views/Edit/Discipline/AddOrEdit.cshtml"))
                    .OnSuccess(dsl => dsl.WithId(GlobalSelectors.EditAreaId).Insert.Html())
                    .AsHtmlAttributes(new
                    {
                        @class = "d-flex shadow gap-2 rounded py-1 px-2 m-1 shadow-hover cursor-pointer",
                        filter = $"{each.For(r => r.Name)} {each.For(r => r.Kind)}"
                    })
                    .ToBeginTag(HtmlTag.Div))
        {
            <div class="my-2" title="@each.For(r => r.Name)">
                @each.For(r => r.Name)
            </div>
            <div class="my-2" title="@each.For(r => r.Kind)">
                @each.For(r => r.Kind)
            </div>
        }
    }
}
