@{
    Layout = "_AddOrEdit_Layout";

    var teacherSelectName = Guid.NewGuid().ToString();
    var teacherContentId = Guid.NewGuid().ToString();
}

@section Title
{
    @DataResources.TeacherPreferences
}

@section Body
{
    <div class="d-flex flex-column gap-3 p-1">
        <div class="row">
            <div class="form-group">
                <label>@DataResources.Teacher</label>
                @Html.Controls().Select(control =>
                {
                    control.Items = Html.Dispatcher().Query(new GetTeachersForSelectQuery
                    {
                        FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId])
                    });
                    control.OnChange = dsl => dsl.WithId(teacherContentId).Trigger.None();
                    control.Class = "form-control";
                    control.IsSearchable = true;
                    control.Name = teacherSelectName;
                })
            </div>
        </div>
        @(Html.When(JqueryBind.InitIncoding | JqueryBind.None)
              .Ajax<GetTeacherPreferencesQuery>(new { TeacherId = Selector.Jquery.Name(teacherSelectName) })
              .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByUrl(d => d.Query(new GetScheduleFormatQuery { FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId]) })
                                                                          .AsView("~/Views/Edit/ItemBusyness/Tmpl/TeacherItem_Tmpl.cshtml")).Html())
              .AsHtmlAttributes(classes: "flex-grow-1 d-flex flex-column gap-2 schedule rounded", id: teacherContentId)
              .ToDiv())
    </div>
}
