@{
    Layout = "_ListPage_Layout";
}

@section Title
{
    Занятость аудиторий / преподавателей
}

@section Filter
{
    <button class="btn btn-light">@DataResources.Filter</button>
}

@section List
{
    <div class="w-100 d-flex flex-column gap-3 h-100 flex-grow-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="auditorium-tab" data-bs-toggle="tab" data-bs-target="#auditorium" type="button" role="tab" aria-controls="auditorium" aria-selected="true">
                    Аудитории
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="teacher-tab" data-bs-toggle="tab" data-bs-target="#teacher" type="button" role="tab" aria-controls="teacher" aria-selected="false">
                    Преподаватели
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="teacher-preferences-tab" data-bs-toggle="tab" data-bs-target="#teacher-preferences" type="button" role="tab" aria-controls="teacher-preferences" aria-selected="false">
                    Предпочтение преподавателей
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="auditorium" role="tabpanel" aria-labelledby="auditorium-tab">
                ahaha
            </div>
            <div class="tab-pane fade" id="teacher" role="tabpanel" aria-labelledby="teacher-tab">
                heheh
            </div>
            <div class="tab-pane fade" id="teacher-preferences" role="tabpanel" aria-labelledby="teacher-preferences-tab">
                hohoho
            </div>
        </div>
    </div>
}
