<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rasp</title>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>
    
    <script src="~/lib/jq.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
