@using Incoding.Web.MvcContrib
@using Domain.Api
@using Domain.Extensions
@using Resources
@{
    Layout = "~/Views/Shared/_ListPage_Layout.cshtml";
}

@section Title
{
    @DataResources.DisciplineList
}

@section Filter
{
    <div class="btn btn-light">
        @DataResources.Filter
    </div>
}

@section List
{
    @(Html.When(JqueryBind.InitIncoding)
          .Ajax(Url.Dispatcher().Query(new GetDisciplinesQuery()).AsJson())
          .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/Edit/Discipline/Tmpl/Item_Tmpl.cshtml").Html())
          .AsHtmlAttributes(classes: "w-100 d-flex flex-column gap-3 flex-grow-1 px-3")
          .ToDiv())
}
