@using UI.Common.Extensions
@using Domain.Api
@using Incoding.Web.MvcContrib
@using Resources
@model AddOrEditFacultyCommand

@{
    Layout = "~/Views/Shared/_AddOrEdit_Layout.cshtml";
}

@section Title
{
    @DataResources.Faculty
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push<AddOrEditFacultyCommand>();
        settings.OnSave = dsl => dsl.WithId(GlobalSelectors.MainId).Insert
                                    .WithTemplateByUrl(Url.Dispatcher().Query(new GetFacultiesQuery()).AsView("~/Views/Edit/Faculty/Index.cshtml")).Html();
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        <div class="form-divider"></div>

        @Html.ForGroup(r => r.Code).TextBox(control =>
        {
            control.AddClass("w-50");
            control.Label.Name = DataResources.Abbreviation;
        })

        @Html.ForGroup(r => r.Name).TextBox(control =>
        {
            control.AddClass("w-75");
            control.Label.Name = DataResources.FacultyName;
        })
    }
}