<div class="shadow rounded p-3 d-flex flex-column gap-3 overflow-hidden" style="width: 45%; height: 704px;">
    <h3>@DataResources.UnscheduledClasses</h3>

    @(Html.When(JqueryBind.InitIncoding)
          .Ajax(Url.Dispatcher().Query<GetUnscheduledClassesQuery>().AsView("~/Views/Home/Dashboard/Tmpl/UnscheduledCard_Tmpl.cshtml"))
          .OnSuccess(dsl => dsl.Self().Insert.Html())
          .OnComplete(dsl => dsl.Self().Insert.Use(@<span class="m-auto">@DataResources.AllUnscheduledWasScheduled</span>).Html().If(() => Selector.Jquery.Self().Children().Length() < 1))
          .AsHtmlAttributes(classes: "d-flex flex-column gap-2 overflow-hidden opacity-gradient h-100")
          .ToDiv())
</div>
