@using Resources
@{
    Layout = "~/Views/Shared/_ListPage_Layout.cshtml";
}

@section Title
{
    @DataResources.BuildingList
}

@section Filter
{
    <div class="btn btn-light">
        @DataResources.Filter
    </div>
}

@section List
{
    @await Html.PartialAsync("~/Views/Shared/NotImplemented.cshtml")
}