@using (var template = Html.Incoding().Template<GetDepartmentsQuery.Response>())
{
    using (var each = template.ForEach())
    {
        <div class="w-100" title="@each.For(r => r.Name)">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                <label class="form-check-label" for="flexCheckCheckedDisabled">
                    @each.For(r => r.Code)
                </label>
            </div>
        </div>
    }
}
