@using (var template = Html.Incoding().Template<GetTeachersQuery.Response>())
{
    using (var each = template.ForEach())
    {
        @using (Html.When(JqueryBind.Click)
                    .Ajax(Url.Dispatcher().Query<AddOrEditTeacherCommand.AsQuery>(new { Id = each.For(r => r.Id) }).AsView("~/Views/Edit/Teacher/AddOrEdit.cshtml"))
                    .OnSuccess(dsl => dsl.WithId(GlobalSelectors.EditAreaId).Insert.Html())
                    .AsHtmlAttributes(new
                    {
                        @class = "d-flex shadow gap-3 rounded py-1 px-2 m-1 shadow-hover cursor-pointer",
                        filter = $"{each.For(r => r.Name)} {each.For(r => r.DepartmentCode)} {each.For(r => r.DepartmentName)} {each.For(r => r.Initials)}",
                        title = each.For(r => r.Name)
                    })
                    .ToBeginTag(HtmlTag.Div))
        {
            <div class="my-2">
                @each.For(r => r.Initials)
            </div>
            <div class="my-2 ms-auto" title="@each.For(r => r.DepartmentName)">
                @each.For(r => r.DepartmentCode)
            </div>
        }
    }
}
