<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/custom_bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/icons/material-symbols/index.css" />
    <link rel="stylesheet" href="~/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/css/tables.css" />
    <title>@DataResources.ApplicationName</title>
</head>
<body class="d-flex flex-column min-vh-100 max-vh-100">
    
    <header class="d-flex p-3 pb-5 justify-content-center">
        <div>
            <a class="text-decoration-none text-black" href="@Url.Action("Index", "Home")">@DataResources.ApplicationName</a>
        </div>
    </header>

    <main role="main" class="mx-2 px-1 flex-grow-1 d-flex justify-content-center overflow-hidden" id="@GlobalSelectors.MainId">
        <div class="container">
            @await RenderSectionAsync("Body")
        </div>
    </main>

    <script src="~/lib/jq.js"></script>
    <script src="~/lib/inc.js"></script>
    <script src="~/lib/script.js"></script>
    <script src="~/lib/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
