@using Resources
<footer class="d-flex padding-16 justify-content-between">
    <div></div>
    <div class="d-flex gap-16 flex-row-reverse">
        <div class="btn btn-light">
            @DataResources.Help
        </div>
    </div>
</footer>