<div class="d-flex flex-column flex-grow-1 gap-3 align-items-center">
    <h2 class="align-self-start">
        @await RenderSectionAsync("Title")
    </h2>

    <div class="d-flex gap-3 w-100 align-self-start mx-3">
        @await RenderSectionAsync("Filter")

        <div class="input w-30">
            <input type="text" class="rounded search w-100 h-100"/>
            <span class="material-symbols-rounded addon-r">search</span>
        </div>
    </div>

    @await RenderSectionAsync("List")

</div>