@using Incoding.Core.ViewModel
@using (var template = Html.Incoding().Template<KeyValueVm>())
{
    using (var each = template.ForEach())
    {
        <li>
            @(Html.When(JqueryBind.Click)
                  .Direct(new
                  {
                      value = each.For(r => r.Value).ToString(),
                      text = each.For(r => r.Text).ToString()
                  })
                  .OnSuccess(dsl => dsl.With(r => r.Self().Closest(HtmlTag.Ul)).Trigger.None())
                  .AsHtmlAttributes(new
                  {
                      @class = $"dropdown-item {each.For(r => r.CssClass)}",
                      href = "javascript:void(0);"
                  })
                  .ToTag(HtmlTag.A, each.For(r => r.Text)))
        </li>
    }
}
