@model DropdownModel

<div role="dropdown" class="dropdown">
    <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="@Model.Title">
        <span role="title">@Model.Text</span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var item in Model.Items)
        {
            @item.ToHtmlString()
        }
    </ul>
</div>
