@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body
{
    <div class="d-flex flex-grow-1 flex-column gap-3 justify-content-center">
        <div class="d-flex gap-3 flex-wrap justify-content-center">
            <div class="gradient-animate rounded" style="width: 60%; height: 352px;"></div>
            <div class="gradient-animate rounded" style="width: 30%; height: 352px;"></div>
            <div class="gradient-animate rounded" style="width: 45%; height: 352px;"></div>
            <div class="gradient-animate rounded" style="width: 45%; height: 352px;"></div>
        </div>
    </div>
}
